* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f7f1f1;
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  max-height: 100vh;
  width: 100%;
}
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.main-container {

  width: 40%;
  min-width: 400px;
  margin-top: 8%;
  padding: 2rem 3rem 3rem;
  background: #558b2f;
  color: #FFF;
  border-radius: 8px;
  box-shadow: -8px 8px 3px 0px rgba(100, 100, 100, .3);
}
@media screen and (max-width: 400px) {
  .main-container {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin: 0;
  }
}
.main-container .title {
  font-weight: 100;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-container .emptylist {
  margin-top: 2.6rem;
  text-align: center;
  letter-spacing: .05em;
  font-style: italic;
  opacity: 0.8;
}

.status.free{
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}
.status.free img{
  display: block;
  width: 100px;
  margin: 10px auto;
  vertical-align: middle;
}

.main-container ul {
  margin-top: 2.6rem;
  list-style: none;
}

.main-container .todolist-move {
  transition: transform 1s;
}

.main-container li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.main-container .actions {
  flex-shrink: 0;
  padding-left: 0.7em;
}

.main-container .label {
  position: relative;
  transition: opacity .2s linear;
}

.main-container .done .label {
  opacity: .6;
}

.main-container .done .label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -.5rem;
  display: block;
  width: 0%;
  height: 3px;
  background: #33691e;
  animation: strikeitem .3s ease-out 0s forwards;
}

.main-container .btn-picto {
  border: none;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #FFF;
}


/* FORM */
.form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  color: rgba(0, 0, 0, 0.7);
}

.form button {
  padding: 0 1.3rem;
  border: none;
  background: #558b2f;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, .3);
  margin-left: 5px;
  cursor: pointer;
  transition: background .2s ease-out;
}

.form button:hover {
  background: #33691e;
}

.form input,
.form button {
  font-family: 'Quicksand', sans-serif;
  height: 3rem;
}
/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
  /* color: #A75377; #558b2f  #00701a*/
  color: #558b2f;
  opacity: 0.6; 
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder { 
  color: #558b2f;
}
/* Microsoft Edge */
::-ms-input-placeholder { 
  color: #558b2f;
}



.config-box {
  width: 160px;
  float: right;
}
/* 3-STATE TOGGLE */

h4.inputLabel {
  display: inline-block;
  color: #fff;
	margin-top: 10px;
  margin-bottom: 7px;
  font-size: 0.8em;
	font-weight: 300;
}

.rotationTypeContainer {
  position:relative;
  border-radius: 4px;
  height: 36px;
  border: 1px solid #fff;
  z-index: 1;
 	width: 100%;
	margin-top: 0px;
}


.rotationType__label p {
  display:block;
  margin:0;
  line-height: 28px;
  font-size: 14px;
	font-weight: 500;
  /* hier svg in? */
  margin-top: 5px;
  /* color: white; */
}

.rotationType__label {
  position:absolute;
  z-index: 1;
}

/* first pos */
.rotationType__label:nth-of-type(1){
  text-align:center;
  left: 0;
	/* border-right: 1px solid #fff; */
}

/* center */
.rotationType__label:nth-of-type(2){
  text-align:center;
  width: 33.33333%;
  left: 33.33333%;
  margin-left: 0px;
	/* border-right: 1px solid #fff; */
}

/* last pos */
.rotationType__label:nth-of-type(3) {
  text-align: center;
  right: 0px;
  width: 33.33333%;
}

.rotationTypeContainer input[type=radio]{
  display: none;
}

.rotationType__label{
  width: 33.33333%;
  height: 35px;
  margin: 0;
  cursor: pointer;
  z-index: 1;
}

.rotationType__slideBg {
  width: 33.33333%;
  height: 34px;
  /* border: 2px solid #e6797a; */
  position: absolute;
  top: 0;
  border-radius: 0px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

.rotationTypeContainer input:checked ~ p {
	color: white;
}

.rotationTypeContainer input:checked ~ .rotationType__slideBg {
	background: #074b18;
}

.rotationTypeContainer input:nth-child(1):checked ~ .rotationType__slideBg {
	left: 0;
}

.rotationTypeContainer input:nth-child(2):checked ~ .rotationType__slideBg {
	left: 33.33333%;
}

.rotationTypeContainer input:nth-child(3):checked ~ .rotationType__slideBg {
	left: 66.66666%;
}